<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi libero est error ipsa rem, a dolores natus nulla aspernatur doloremque minima, dolor aperiam deleniti tenetur voluptatibus repudiandae nam. Distinctio rerum aspernatur voluptates sint tenetur repudiandae.</p><br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quis cumque optio quos ullam! Et fugiat aut, quia voluptatibus magni nam sint. Earum architecto vitae, commodi, error exercitationem obcaecati beatae dolorum assumenda ut accusamus laborum officia, numquam facere nihil hic natus. Saepe nemo quam ullam. Eos quidem omnis dolor iusto velit sed esse accusamus aperiam aut dolore officiis sint, consequatur nemo reprehenderit, ipsam minima repudiandae.</p><br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, accusantium.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>